/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of text areas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserUpgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Application specific styles
   ========================================================================== */

body {
    --melbourne-top-color: black;
    --melbourne-bottom-color: black;
    --erlangen-top-color: black;
    --erlangen-bottom-color: black;
}

.foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.clockContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 30vh 30vh;
    align-items: center;
    justify-items: center;
    user-select: none;
}

#countdown {
    font-size: 9vw;
}

.half {
    overflow: hidden;
    height: 50vh;
}

#lowerHalf {
    background: linear-gradient(to top, var(--melbourne-bottom-color), var(--melbourne-top-color));
}

#upperHalf {
    background: linear-gradient(to top, var(--erlangen-bottom-color), var(--erlangen-top-color));
    position: relative;
}

#upperHalf::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, var(--melbourne-top-color) 13px);
}

#upperHalf::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, var(--melbourne-top-color) 12px, transparent 13px);
}

/* ==========================================================================
   Sun Animation based on https://jsfiddle.net/gThnQ/278/
   ========================================================================== */

@keyframes sunArc {
    0%  { transform: rotate(0deg);  }
    100%{ transform: rotate(180deg);  }

}

.sunWrapper {
    margin: auto;
    position: relative;
    bottom: -50vh;
    width: 90vw;
}

.sun {
    border-radius: 50%;
    display: inline-block;
    padding: 8vw;
    background: yellow;
    box-shadow: 0 0 8px 0 rgb(255, 238, 29), 0 0 20px 0 #ffc107;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
